llama-index==0.12.13
llama-index-agent-openai==0.4.2
llama-index-cli==0.4.0
llama-index-core==0.12.13
llama-index-embeddings-huggingface==0.5.1
llama-index-embeddings-openai==0.3.1
llama-index-indices-managed-llama-cloud==0.6.4
llama-index-llms-openai==0.3.14
llama-index-multi-modal-llms-openai==0.4.2
llama-index-packs-recursive-retriever==0.5.0
llama-index-program-openai==0.3.1
llama-index-question-gen-openai==0.3.0
llama-index-readers-file==0.4.4
llama-index-readers-llama-parse==0.4.0
llama-parse==0.5.20
nltk==3.9.1
numpy==2.2.2
onnxruntime==1.20.1
openai==1.60.0
pandas==2.2.3
pydantic==2.10.6
pydantic-settings==2.7.1
pydantic_core==2.27.2
Pygments==2.19.1
pylance==0.22.0
pypdf==5.1.0
python-dotenv==1.0.1
uvicorn==0.34.0
fastapi==0.115.8
selenium==4.28.1
webdriver-manager==4.0.2
websocket-client==1.8.0
wsproto==1.2.0
yarl==1.18.3